
@media (max-width: 770px){
    .navBartopborder{
        border-top: 1px solid var(--border);
        border-right: 0px solid white;
    }
}

.logoHoveNav:hover :first-child{
    transform: scale(1.05);
  transition: all 0.3s;;
}

